{% extends './base.html.twig' %}
{% block title %}Dodaj użytkownika{% endblock %}

{% block body %}
	<div>
		<form class="form" action="{{ appurl }}user/create" method="post">
			<div class="form__group">
				<label for="login">Login</label>
				<input class="form__input" type="text" name="login" id="login" />
			</div>

			<div  class="form__group">
				<label for="password">Hasło</label>
				<input  class="form__input" type="password" name="password" id="password" />
			</div>

			<div  class="form__group">
				<label for="password-repeat">Powtórz hasło</label>
				<input  class="form__input" type="password" name="password-repeat" id="password-repeat" />
			</div>

			<div  class="form__group">
				<button class="btn btn-success" type="submit">Utwórz</button>
				<a class="btn btn-warning" href="{{ appurl }}user">Powrót</a>
			</div>
		</form>
	</div>
{% endblock %}
